
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.background_image{
    height: 100%;
    width: 80%;
    background: url("./Pictures/car_background.jpg") no-repeat center;
    background-size: cover;
}

.Forgot-password-background{
    height: 100%;
    width: 100%;
    background: url("./Pictures/car_background.jpg") no-repeat center;
    background-size: cover;
}

.white-box {
    background-color: white;
    position: absolute;
    margin: 15% 35%;
    width: 25%;
    height: 50%;
}

.forgot-password-fields{
    justify-content: center;
}

.password-reset,.email-reset, .onetime-code-reset, .new-password-reset, .Re-password-reset, .reset-btn{
    font-size: 20px;
    text-align: center;
    margin: 3% 6%;
    position: relative;
    overflow: auto;
}

.reset-btn{
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #716eea;
    padding: 2% 20%;
    border: solid #000000 2px;
    box-shadow: rgb(0, 0, 0) 0 0 0 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 23%;
    position: relative;
}

.reset-btn:hover{

    transition : 1500ms;
    padding: 2% 20%;
    transform : translateY(0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}